.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
/* 	width: 1002px; */
   margin-top: -40px;
    margin-left: -30px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	    height: 556px;
    width: 1002px;position: relative;
    z-index: 1;
	/* width: 178px; */
}

.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    line-height: 16px;
    text-transform: uppercase;
    position: absolute;
    margin-left: -390px;
    margin-top: -266px;
    text-align: left;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 5px;
    width: 200px;
    color: #000000;
    z-index: 2;
}
/* .rg-view{
	height:30px;
} */
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}